@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* Reset some default styles */
body, h1, h2, h3, ul, li, form {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box ;
    font-family: Oswald, sans-serif;
    text-align: left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;

}

.content + .sticky {
    padding-top: 102px;
}

/* Style the body with a neutral background */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    /* padding-top: 130px; */
}
#p_about {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 27px;
    text-indent: 50px;
}
/* Style the header */
.header {
    display: block;
    align-items: center;
    font-size: 23px;
}

.underline{
    color: #308aff;
}

.heading{
    font-family: 'Dela Gothic One', cursive;
    font-size: 56px;
    margin-bottom: 10px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding-bottom: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    /* padding-left: 20px; */
}

/* Center the heading */
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Irish Grover', monospace;
    font-size: 46px;
}

.image-overlay--3 {
    opacity: .3;
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #212121;
    opacity: 0;
}

/* styling options for a background video */
#myImage {
    position: fixed;
    display: fix;
    object-fit: cover;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
}

.l-about {
    color: #acacac;
    width: 20px;
    height: 20px;

}

nav ul {
    list-style: none;
    justify-content: space-between;

    
}

nav ul li {
    display: inline;
    margin-right: 30px;
    background-color: #308aff;
    padding: 10px;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #ffffff;
    color: #000;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}


/* Style the main sections with a white background */
section {
    /* transparent background */
    background-color: rgba(255, 255, 255, 0.0);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

section p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style destination cards */
section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

section ul li {
    flex-basis: calc(33.33% - 20px);
    padding: 10px;
    background-color: rgba(0, 68, 255, 0);
    margin-bottom: 20px;
    border-radius: 5px;
    list-style: none;
}

section ul li img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
section ul li p {
    font-size: 25px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #308aff;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}

.dest_heading{
    color: #fff;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.mars_img{
    width: 100%;
    height: 58%;
    object-fit: cover;
    border-radius: 20px;
}

.hotels_img{
    width: 100%;
    height: 58%;
    object-fit: cover;
    border-radius: 20px;
}

.moon_img{
    width: 100%;
    height: 58%;
    object-fit: cover;
    border-radius: 20px;
}

 .h_about{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;

    margin-bottom: 20px;
    color: #ffffff;
 }

 .dest_heading{
    font-size: 30px;
    padding-top: 10px;
 }

 .pack_heading{
        font-size: 40px;
    font-weight: bold;
    font-style: italic;

    margin-bottom: 20px;
    color: #ffffff;
 }
 .pack_head{
    font-size: 30px;
    padding-top: 10px;
 }

 .mars_img_pack{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 58%;
    object-fit: cover;
    border-radius: 20px;
}


